<%-include('../includes/header.ejs')%>
<link rel='stylesheet' href='/stylesheets/admin.css'/>
</head>
<%-include('../includes/navigation.ejs')%>
<body>
	<div class="container">
		<h1>Admin Index</h1>
		<br>
		<ul class="admin-nav">
			<li><a href="/admin/nouveau-site"><button class="btn nouveau-site">Nouveau Site de dépistage</button></a></li>
			<!-- <li><a href="/admin/nouvelle-news">Ajouter une News</a></li> -->
		</ul>
		<br>
	</div>

	<div class="container">
		<div class="card-deck">
			<% for (site of sites){%>
				<div class="col-12 col-md-6">
					<div class="card">
						<img style="max-width: 600px;" class="card-img-top" src="<%=site.images[0]%>" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title"><%=site.nom%></h5>
							<p class="card-text"><%=site.description%></p>
							<div class="card-body">
								<div class="row">
									<a href='/admin/consulter-creneaux/<%=site._id%>' class='btn btn-primary mx-auto'>Consulter les réservations</a>
									<a href='/admin/editer-site/<%=site._id%>' class="btn btn-warning mx-auto">Modifier</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			<%}%>
		</div>
	</div>
</body>
</html>